.gradle
.settings/
build/
bin/
token.txt
muted.txt
build.bat
.classpath

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle com.jakestanger.discordBot.wrapper jar file (.jar files are usually ignored)
!gradle-com.jakestanger.discordBot.wrapper.jar

# Cache of project
.gradletasknamecache
/.idea/
